<ion-menu [content]="myContent">
    <div class="userInfo">
        <ion-avatar>
            <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3915909782,1214963544&fm=27&gp=0.jpg" alt="">
            <p>爱吃的小萌萌</p>
        </ion-avatar>
    </div>
    <div class="tool">
        <ion-row>
            <ion-col col-5 text-center style="border-right:0;border-bottom:0;">
                <i class="iconfont icon-viewgallery"></i>
            </ion-col>
            <ion-col col-5 text-center style="border-bottom:0;">
                <i class="iconfont icon-icon2"></i>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-5 text-center style="border-right:0;border-bottom:0;">
                <i class="iconfont icon-viewgallery"></i>
            </ion-col>
            <ion-col col-5 text-center style="border-bottom:0;">
                <i class="iconfont icon-viewgallery"></i>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-5 text-center style="border-right:0;">
                <i class="iconfont icon-viewgallery"></i>
            </ion-col>
            <ion-col col-5 text-center>
                <i class="iconfont icon-viewgallery"></i>
            </ion-col>
        </ion-row>
    </div>
    <div class="login">
        <button (click)="event-handler()">安全退出</button>
    </div>
</ion-menu>