page-aboutt {
    ion-content {
        background: #eee !important;
    }
    .share {
        background: #fff;
        .shar {
            .item-inner {
                border: none !important;
            }
        }
    }
}